
<div class= "container pt-5" style = "width: 700px;">
    <h4>期間限定で大量に読める！無料マンガ</h4><br>
    <div class= row>
        <div class = "row row-cols-2">

        <%@mangas.each do |manga|%>
        <div class="card mb-3" style="max-width: 440px;">
  <div class="row no-gutters">
    <div class="col-md-4 p-1"  >
      <%= link_to image_tag (manga.image_file_name), style: 'height:100%;width:100%;' %>
    </div>
    <div class="col-md-8" >
      <div class="card-body" style="max-height: 150px;">
        <h5 class="card-title"><%=manga.title %></h5>
        <p class="card-text"><%=manga.author%></p>
        <p class="card-text" style="color:orange;"><%=manga.description%></p>
      </div>
    </div>
  </div>
</div>
        <% end %>
        </div>
    </div>
</div>